@font-face{
    font-family:"sunday";
    font-style: normal;
    font-weight: 300;
    src: url(cd2f1-36d91_sunday.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sunday, cursive;
    font-size: 800;
}

body{
    display: flex;
    justify-content:
    center;
    align-items:
    center;
    min-height: 100vh;
    background:
    linear-gradient(130deg,rgba(0, 255, 206),gray)
}
